{% extends "layout.html" %}
{% block body %}
  <h2>Welcome to the STEME motif finder</h2>
   
  STEME is an accurate efficient motif finder based on the MEME algorithm. 
  We have made an installation of STEME available on this web site.
  Please feel free to submit your jobs to this web site. If you want
  more control over STEME's options or you wish to run STEME on your own servers
  please download and install the STEME software.
  For more information on STEME and how to use it you can visit the
  <a href="http://packages.python.org/STEME/">STEME documentation</a>.
  If you have any questions about STEME or problems using STEME please 
  <a href="mailto:john.reid@mrc-bsu.cam.ac.uk?Subject=STEME question">email</a>.

{% endblock %}

