cooccurrence
strace.out
timings.txt
test.h5.josquin
lully-esa.h5
lully-b4-pre-visit.h5
lully-2011-03-24.h5
steme-pwm-scan.lengths
output-unlinked
STEME-1.8.8
install-test-env
bad-jobs-from-web-server
test-spacings
test-spacing
spacings-to-find
core
test
steme-pwm-scan.seqs
one-motif.meme
two-motifs.meme
mm10-chrUn.fa
test-scan-large-old
randomised.meme
scan-common
test-scan-tiny
steme-pwm-scan.supp
ReChIP
randomised
test-scan-large
spacings-*-*.png
steme-pwm-scan-cisml.xml
steme-pwm-scan.out
pwm-scan.out
MEIS1-output
ipython_log.py
random-seqs.fasta
pval-example.in
test-instances
meme.xls
stats-Fly.eps
stats-Human.eps
stats-Total.eps
stats-Yeast.eps
stats-Mouse.eps
stem.xls
compile.out
stem.html
meme.html
meme-prof.ps
pop-speed.prof
meme-prof
p-value-times.*
NTNU-results.tar.gz
*.gz
*results.txt
*.log
gdb-cmds.tmp
output
env.path
test.out
john-dell.h5
multi-motifs
tmplatex.aux
tmplatex.tex
lully-2011-01-24.h5
john-dell-old.h5
lully-2011-03-18.h5
pval.in
steme-no-inline.prof
meme_out
lully.h5
tmplatex.dvi
test.h5
mast_out
meme-init-speeds.csv
tmp
p-values.out
test.h5.stable
lully-large.h5
T00759-8.prior
